<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>New Black Spot Detection</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServ</display-name>
    <servlet-name>AdminServ</servlet-name>
    <servlet-class>BlackPack.AdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServ</servlet-name>
    <url-pattern>/AdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPoliceServ</display-name>
    <servlet-name>AddPoliceServ</servlet-name>
    <servlet-class>BlackPack.AddPoliceServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPoliceServ</servlet-name>
    <url-pattern>/AddPoliceServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceServ</display-name>
    <servlet-name>PoliceServ</servlet-name>
    <servlet-class>BlackPack.PoliceServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceServ</servlet-name>
    <url-pattern>/PoliceServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlackServ</display-name>
    <servlet-name>AddBlackServ</servlet-name>
    <servlet-class>BlackPack.AddBlackServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlackServ</servlet-name>
    <url-pattern>/AddBlackServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegis</display-name>
    <servlet-name>UserRegis</servlet-name>
    <servlet-class>BlackPack.UserRegis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegis</servlet-name>
    <url-pattern>/UserRegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServ</display-name>
    <servlet-name>UserServ</servlet-name>
    <servlet-class>BlackPack.UserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServ</servlet-name>
    <url-pattern>/UserServ</url-pattern>
  </servlet-mapping>
</web-app>